*:focus {
    outline: none;
}

body {
    margin: 0;
    background-image: url(./img/galaxy_stars_universe_light_planet_63624_1280x720.jpg);
    background-repeat: no-repeat;
    background-position: cover;
}

#root {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 250px 175px 50px 90px;
    place-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    font-family: "space invaders";
    color: white;
    font-size: 2.5rem;
    text-align: center;
    justify-items: center;
    align-items: center;
}

#bigDiv {
    display: grid;
    grid-template-columns: repeat(45, 14.2px);
    grid-template-rows: repeat(45, 14.2px);
    justify-items: center;
}

.banner {
    grid-column: 1 / span 3;
}

.grandpaImg {
    grid-column: 1 / 3;
}

.grandmaImg {
    grid-column: 3 / 4;
}

.grandpa {
    grid-column: 1 / 3;
}

.grandma {
    grid-column: 3 / 4;
}

.gameOverDisplay {
    grid-column: 1 / span 3;
}

#firstMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#firstMenu h1 {
    color: rgb(189, 183, 179);
    text-align: center;
    font-size: 50px;
}

#firstMenu section {
    color: rgb(189, 183, 179);
    font-style: italic;
    text-align: center;
    font-size: 30px;
}